{% extends 'admin_panel/login.html' %}
{% load i18n %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
    {% translate "Change Password" %}
{% endblock %}

{% block main %}
    {% bootstrap_messages %}
    <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="post" action="" enctype="multipart/form-data">
                    <div class="login-form-head">
                        <h4>{% translate "Change Password" %}</h4>
                        <p>{% translate "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                    </div>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="row mb-4 rmber-area">
                        <div class="col-12 text-right">
                            <a href="{% url 'accounts:dashboard' %}">{% translate "Back to Dashboard" %}</a>
                        </div>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">{% translate "Submit" %} <i class="ti-arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
