{% extends 'admin_panel/login.html' %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block title %}
    {% translate 'Password reset' %}
{% endblock %}

{% block main %}
    {% bootstrap_messages %}
    <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--100">
                <form>
                    <div class="login-form-head" style="text-align: justify;">
                        <h4>{% translate 'Password reset' %}</h4>
                        <p>{% translate "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
                        <p>{% translate "If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder." %}</p>
                    </div>
                    {% csrf_token %}
                    <div class="submit-btn-area">
                        <a href="{% url 'accounts:login' %}" id="form_submit">{% translate "Back to login" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
