{% load static i18n %}

<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="{% url 'accounts:dashboard' %}"><img src="{% static 'admin_panel/images/icon/logo.png' %}" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li><a href="{% url 'accounts:dashboard' %}"><i class="ti-dashboard"></i> <span>{% translate 'Dashboard' %}</span></a></li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-sidebar-left"></i>
                            <span>
                                {% translate 'Account' %}
                            </span>
                        </a>
                        <ul class="collapse">
                            <li><a href="{% url 'accounts:password_change' %}">{% translate 'Change Password' %}</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i> <span>{% translate 'Logout' %}</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>