{% load i18n website_details owner_info %}
{% get_current_language as current_language %}
<footer id="footer">
    <div class="container">
        <h3>{% website_main_title %}</h3>
        {% if current_language == 'en' %}
        	<p>{% website_description %}</p>
        {% endif %}
        <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
            {% translate '&copy; Copyright' %} <strong><span>{% website_main_title %}</span></strong>. {% translate 'All Rights Reserved' %}
        </div>
        <div class="credits">
            {% translate 'Designed by ' %}<a href="https://github.com/mkhazaeidev/">mkhazaeidev</a>
        </div>
    </div>
</footer>