{% load i18n website_details %}
{% get_current_language as current_language %}
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
            <h1 class="text-light"><a href="index.html"><span>{% website_main_title %}</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="{% url 'pages:home' %}">
                    {% translate 'Home' %}
                </a></li>
                <li><a href="#">{% translate 'Blogs' %}</a></li>
                <li><a href="#about">{% translate 'About' %}</a></li>
                <li><a href="#contact">{% translate 'Contact' %}</a></li>
                <li><a>
                    <form class="form-control-sm" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <select class="bg-transparent" name="language" id="language" onchange="this.form.submit()">
                            {% if current_language == 'fa' %}
                                <option value="fa">{% trans 'Persian' %}</option>
                                <option value="en">{% trans 'English' %}</option>
                            {% else %}
                                <option value="en">{% trans 'English' %}</option>
                                <option value="fa">{% trans 'Persian' %}</option>
                            {% endif %}
                        </select>
                    </form>
                </a></li>
            </ul>
        </nav>
    </div>
</header>