{% load static %}
{% load i18n website_details %}
{% get_current_language as current_language %}

<!DOCTYPE html>
<html lang="{{ current_language }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>{% website_page_title %} - {% block title %}{% endblock %}</title>

    <meta content="{% block description %}{% website_description %}{% endblock %}" name="description">
    <meta content="{% block keywords %}{% website_seo_keyword %}{% endblock %}" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'base/assets/images/favicon.png' %}" rel="icon">
    <link href="{% static 'base/assets/images/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'base/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'base/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    {% if current_language == 'fa' %}
        <!-- Template Main CSS File -->
        <link rel='stylesheet' href='{% static 'base/css/rtl_styles.css' %}'>
    {% else %}
        <!-- Template Main CSS File -->
        <link href="{% static 'base/css/styles.css' %}" rel="stylesheet">
    {% endif %}
</head>

<body>

{% include 'base/top_bar.html' %}
{% include 'base/header.html' %}
{% include 'base/hero_section.html' %}
{% block main %}{% endblock %}
{% include 'base/footer.html' %}

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'base/assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'base/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'base/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'base/assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'base/assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
<script src="{% static 'base/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'base/assets/vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'base/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'base/js/main.js' %}"></script>

</body>

</html>