{% load i18n owner_info %}
{% get_current_language as current_language %}
<section id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <i class="icofont-phone"></i>
                {% if current_language == "en" %}
                    {% owner_phone_number_en %}
                {% else %}
                    {% owner_phone_number_fa %}
                {% endif %}
                <i class="icofont-clock-time icofont-rotate-180"></i> {% owner_work_time %}
            </div>
            <div class="col-6 text-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'accounts:dashboard' %}">
                        {% if user.username %}
                            {{ user.username }}
                        {% else %}
                            {% translate 'Dashboard' %}
                        {% endif %}
                        <a href="{% url 'accounts:logout' %}" class="text-danger">
                            {% translate '(Logout)' %}
                        </a>
                    </a>
                {% else %}
                    <a href="{% url 'accounts:login' %}">
                        {% if current_language == "en" %}
                            Login
                        {% else %}
                            ورود به حساب کاربری
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>